body {
    background: white;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    padding: 0;
}

header {
    background: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
    margin: 10px auto;
    max-width: 600px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
}

.about {
    padding: 20px;
}

h2 {
    color: #007bff;
}

footer{
    text-align: center;
    padding: 10px;
    background: #088cad;
    color: rgb(255, 255, 255);
}